.features {
  padding: 0 0 90px;
  background-color: var(--features-bg-color);

  &-wrapper {
    padding: 90px 0 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &-links-wrapper {
    display: flex;
    gap: 20px;
  }


}