.top-players {
  padding: 90px 0;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .slider {
      position: relative;

      .slick-slide {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 100%;
        flex: 30%;
      }

      &-img {
        max-height: 435px;
      }

    }

    .slick-list {
      overflow: hidden;
    }

    .slick-track {
      display: flex;
    }

    .slick-arrow {
      position: absolute;
      top: 45%;
      z-index: 10;
      font-size: 0;
      width: 20px;
      height: 20px;
      background-color: var(--slick-slider-arrow-color);
      border: 1px solid var(--slick-slider-arrow-color);
      -webkit-border: 1px solid var(--slick-slider-arrow-color);
      -moz-border: 1px solid var(--slick-slider-arrow-color);
      -ms-border: 1px solid var(--slick-slider-arrow-color);
      -o-border: 1px solid var(--slick-slider-arrow-color);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 6px;
        border: 1px solid #fff;
      }
    }

    .slick-next {
      right: 0;

      &::after,
      &::before {
        left: 35%;
        top: 33%;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }

      &::before {
        left: 35%;
        top: 57%;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
      }
    }

    .slick-prev {
      left: 0;

      &::after,
      &::before {
        left: 30%;
        top: 33%;
        transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
        -o-transform: rotate(315deg);
      }

      &::before {
        left: 30%;
        top: 57%;
        transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
      }
    }
  }
}